<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.cloudbees.eclipse.run.core.launchconfiguration.launchConfigurationType">
<stringAttribute key="com.cloudbees.eclipse.run.core.debugPort" value="18335"/>
<stringAttribute key="com.cloudbees.eclipse.run.core.port" value="8335"/>
<stringAttribute key="com.cloudbees.eclipse.run.core.projectName" value="RestApp"/>
<booleanAttribute key="org.eclipse.jdt.launching.ALLOW_TERMINATE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="true"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="bees.home" value="/media/Harsh/springSTS/Spring/sts-3.3.0.RELEASE/plugins/com.cloudbees.eclipse.run.sdk_1.5.0.201307232010/cloudbees-sdk/"/>
</mapAttribute>
</launchConfiguration>
